# ────────────────────────────
# Required Configuration
# ────────────────────────────

# Application Name
APP_NAME="Fluctlight"

# OpenAI API Key
OPENAI_API_KEY="[REDACTED]"

# OPENAI_ALTERNATES, comma separated list of alternate API keys
OPENAI_ALTERNATES="DEEPSEEK,FIREWORKS"

## API Keys and base URL for alternate services, must use the alternate service name as prefix

# DEEPSEEK API key
DEEPSEEK_API_KEY="[REDACTED]"
DEEPSEEK_BASE_URL="https://api.deepseek.com"

# Fireworks API Key
FIREWORKS_API_KEY="[REDACTED]"
FIREWORKS_BASE_URL="https://api.fireworkweb.com"



# BOT_CLIENT
#BOT_CLIENT="DISCORD"

# ────────────────────────────
# Optional Configuration
# ────────────────────────────

# Slack OAUTH tokens for your workspace
SLACK_APP_OAUTH_TOKENS_FOR_WS="[REDACTED]"

# Slack App Level Token
SLACK_APP_LEVEL_TOKEN="[REDACTED]"

# Discord bot token
DISCORD_BOT_TOKEN="[REDACTED]"
DISCORD_BOT_ACCESS_MODE="member"
DISCORD_BOT_GUILD_ID="1302339408015396925"

# DEBUG_MODE
# DEBUG_MODE=false

# Models config
GPT_DEFAULT_MODEL="gpt-4o"
## Use for agent workflow
GPT_STRUCTURE_OUTPUT_MODEL="gpt-4o"
## Use for chat
GPT_CHAT_MODEL="o1-mini"
## Use for reason
GPT_REASON_MODEL ="deepseek:deepseek-reasoner"

# Langchain for tracking
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="[REDACTED]"
LANGCHAIN_PROJECT="fluctlight-dev"


# Intent Matching
INTENT_CHAR_MATCHING=false
INTENT_LLM_MATCHING=false

# Data folder config
CHAR_CATALOG_DIR="/app_data/chars_catalog"
CHROMA_DB_DIR="/app_data/chroma.db"
# Enable the bot to overwrite the chroma, only set to for the first time to warm up the chroma embedding db
OVERWRITE_CHROMA=false
# TMP_PATH = "/tmp/"

# SQL DB setup
SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# GCP
# GOOGLE_APPLICATION_CREDENTIALS=google_credentials.json

# TTS engine: XTTS, ELEVEN_LABS, GOOGLE_TTS
TTS_ENGINE="ELEVEN_LABS"

# ELEVEN API
ELEVEN_LABS_API_KEY="sk_XXXXXXXXXXXXXXXXXXXXXXXXXXX"
