# ────────────────────────────
# Required Configuration
# ────────────────────────────
# Application Name
APP_NAME="Fluctlight"

# OpenAI API Key
OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# BOT_CLIENT
#BOT_CLIENT="DISCORD"

# ────────────────────────────
# Optional Configuration
# ────────────────────────────
# Fireworks API Key
FIREWORKS_API_KEY="fw_XXXXXXXXXXXXXXXXXX"

# Slack OAUTH tokens for your workspace
SLACK_APP_OAUTH_TOKENS_FOR_WS="xoxb-XXXXXXXXXXXXXXXXXXXXXXXX"

# Slack App Level Token
SLACK_APP_LEVEL_TOKEN="xapp-1-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# DEBUG_MODE
# DEBUG_MODE=false

# Discord bot token
DISCORD_BOT_TOKEN="MTMwMjMzXXXXXXXXXXXX.VnrlrmXXXXXXXXXXXXXXXXX"
DISCORD_BOT_ACCESS_MODE="member" # ["member", "all", or "role_xyz"]
DISCORD_BOT_GUILD_ID=1302137911642423326

# Langchain for tracking
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_pt_XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LANGCHAIN_PROJECT="bot-chan-dev"

# OPENAI GPT Model ID
OPENAI_GPT_MODEL_ID="gpt-4o"
OPENAI_CHATBOT_MODEL_ID="gpt-4o"

# Intent Matching
INTENT_CHAR_MATCHING=true
INTENT_LLM_MATCHING=false
INTENT_EMOJI_MATCHING=false

# Data folder config
CHAR_CATALOG_DIR="/app_data/chars_catalog"
CHROMA_DB_DIR="/app_data/chroma.db"
# Enable the bot to overwrite the chroma, only set to for the first time to warm up the chroma embedding db
OVERWRITE_CHROMA=false
# TMP_PATH = "/tmp/"

# SQL DB setup
SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# GCP
# GOOGLE_APPLICATION_CREDENTIALS=google_credentials.json

# TTS engine: XTTS, ELEVEN_LABS, GOOGLE_TTS
TTS_ENGINE="ELEVEN_LABS"

# ELEVEN API
ELEVEN_LABS_API_KEY="sk_XXXXXXXXXXXXXXXXXXXXXXXXXXX"
# XTTS
#XTTS_API_KEY=""
#XTTS_API_URL=""
